.switch {
  position: absolute;
  float: left;
  clear: left;
  width: 50px;
  line-height: 18px;
  font-size:15px;
 ::before {
    content: '  ';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 2rem;
    height: 9rem;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  .switch__label {
    display: block;
    width: 1rem;
    padding:1rem;
    padding-left:7px;
    cursor: pointer;
    transition: color 200ms ease-out;
    float: left;
    vertical-align: middle;
    text-align:center;
    margin-left:auto;
    z-index:2;
    user-select: none;  
  }
  &__indicator {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: -1rem;
    background: blue;
    border-radius: 50%;
    transition: transform 600ms cubic-bezier(.02,.94,.09,.97),
                background 300ms cubic-bezier(.17,.67,.14,1.03);
    transform: translate3d(1rem,0,0);
  }
  

  input#one:checked ~ .switch__indicator {
    background: white;
    transform: translate3d(1rem,0,0);
  }
  input#two:checked ~ .switch__indicator {
    background: #343a42;
    transform: translate3d(1rem,55px,0);
  }
  input#three:checked ~ .switch__indicator {
    background: PaleVioletRed;
    transform: translate3d(1rem,115px,0);
  }
  input[type="radio"] {
    &:not(:checked),
    &:checked {
      display: none;
    }
  }
}

// Just for styling

.modeKnob{
  background: #333;  
  color: #999;
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -9rem;
  margin-top:-3rem;
}

body{
  background: #333;  
  color: #999;
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -9rem;
  margin-top:-3rem;
}