RewriteEngine On
RewriteCond %{HTTP_HOST} ^ [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://goosenews.ca/chatx/$1 [R,L]

Header add Access-Control-Allow-Origin "*"

#Caching Code, max-age is written in seconds 

# Two weeks for image files
 <filesMatch ".(jpg|jpeg|png|gif|ico)$">
 Header set Cache-Control "max-age=1209600, public"
 </filesMatch>

# One week for css and js
 <filesMatch ".(css|js)$">
 Header set Cache-Control "max-age=604800, public"
 </filesMatch>