/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
					CHAT - DESKTOP STYLESHEET
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*------------------------------------------------------------------
[Table of Contents]

* Desktop Stylesheet
    + Global Themes, Patterns, & Modes
	+ Default body
    + UI Elements (static)
	+ Chat UI
	+ Tabs
	+ Chat markup
    + Inner Chat Markup
	+ Emoji toolbar

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Palette]
.dark{
base color: #1c1b22;
text color: #fbfbfe;
primary accent color: #2b2a33;
secondary accent color: #42414d;
}
cool grey 8492ae
queen blue 596988
gunmetal 343a42
charcoal 3f4650
pink ff69b4

---brand colours-----
twitter blue #1da1f2
asana peach #FC636B
discord blue #7289da
android green #78C257
.group/purpose__name-extra-details

RULES:
https://imgflip.com/i/5eh494
border-radius: 0.3em; (Don't overdo it tho)
-------------------------------------------------------------------*/

/*/////////////////////////////////////////////////////////////////////
					GLOBAL THEMES AND MODES
/////////////////////////////////////////////////////////////////////*/

/* --- GLOBAL CLASSES --- */
.hidden {
  display: none;
}
/*Both of these classes do the same thing, why do we have duplicates?*/
.hide {
  display: none;
}

.active {
  box-sizing: border-box;
  transition-timing-function: ease-in;
  transition-duration: 0.15s;
  background-color: rgba(0, 0, 0, 0.25);
}

/* --- MODES --- */
html {
  margin: 0px;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}
body {
  background-color: white;
  color: #343a42;
  overflow: hidden;
  margin: 0px;
  width: 100%;
  border-radius: 0.3em;
}

.dark {
  background-color: #1c1b22;
  color: #fbfbfe;
  border-color: #2b2a33;
  /*   secondary accent color: #42414d; */
}

/*/////////////////////////////////////////////////////////////////////
						DEFAULT BODY
/////////////////////////////////////////////////////////////////////*/
a {
  color: Gray;
}

/*I admit this goes against BEM (I think), 
but for thors sake let it be, its needed in chat replies*/
code {
  background-color: #3f4850;
  color: whitesmoke;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 1rem;
  display: block;
}

/*/////////////////////////////////////////////////////////////////////
				USER INTERFACE STATIC ELEMENTS
/////////////////////////////////////////////////////////////////////*/
.main-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 0.5%;
  scrollbar-width: thin; /*Scrollbar width is for firefox*/
}
@media only screen and (max-width: 800px) {
  .main-container {
    flex-direction: column;
  }
}
.main-tabs__container {
  flex: 85%;
  width: 100%;
  height: 100%;
}

/* --- Page Title --- */
.page-title {
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  color: inherit;
}

.tabcontent {
  font: 100;
  margin: 0.5%;
}

.settings__page {
  display: flex;
  flex-direction: column;
}
/*////////////////////////////////
		    CHAT UI
////////////////////////////////*/

/* --- Chatlog --- */
.log__container {
  position: relative;
  border: 1px solid #2b2a33;
  border-radius: 0.5%;
  overflow-y: scroll;
  font-size: 1.2em;
  width: 100%;
  height: 79%;
  scrollbar-color: #888 rgb(201, 201, 201);
  scrollbar-width: thin;
  /*Scrollbar width is for firefox*/
}
.dark .log__container {
  scrollbar-color: black #282828;
}
@media only screen and (max-width: 800px) {
  .log__container {
    height: 50%;
  }
}
/* --- Chat Controls --- */
.chat__controls-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 4rem;
}
.chat__textbox--submit-btn {
  height: 4rem;
  flex: 5%;
  width: 5%;
  float: right;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  border-radius: 7px;
  z-index: 1;
  border-style: none;
}
.chat__textbox--submit-btn:hover {
  border-radius: 7px;
  border-style: groove;
}
.chat__textbox--submit-btn:active {
  margin-top: 0.2rem;
  height: 3.75rem;
}

.chat__textbox {
  min-height: 4rem;
  height: auto;
  flex: 70%;
  width: 70%;
  font-size: 1.5rem;
  border: 1px solid black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  margin-left: 0%;
  overflow-y: auto;
  word-break: break-all;
}
.chat__textbox:focus {
  outline: none;
}

.scroll-bottom {
  display: none;
  flex: 3%;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: indigo;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/*/////////////////////////////////////////////////////////////////////
					CHAT MARKUP / FORMATTING
/////////////////////////////////////////////////////////////////////*/

/* --- Default HTML tags --- */
.log__container h1 {
  font-size: 75;
  text-align: left;
}

/* --- Custom markup --- */
chat-hashtag {
  color: #1da1f2;
  font-weight: 900;
  padding: 1%;
  margin: 0;
  display: inline-block;

  word-break: break-all;
}

a {
  color: Steelblue;
}

.customEmoji {
  display: inline;
  margin-bottom: -4px;
  width: 45px;
  height: 45px;
  border-radius: 0.25em;
}
/*/////////////////////////////////////////////////////////////////////
					Navigation Sidebar
/////////////////////////////////////////////////////////////////////*/
.nav__sidebar {
  flex: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.nav__sidebar-content {
  width: 100%;
  height: 3rem;
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 2%;
  border-color: inherit;
  border-radius: 0.3em;
  color: inherit;
}
.dark .nav__sidebar-content {
  background-color: #2b2a33;
  border-color: #42414d;
  color: #a1a1a1;
}
@media only screen and (max-width: 800px) {
  .nav__sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nav__sidebar-content {
    width: 48%;
    margin-bottom: 1%;
  }
  .quick-access {
    width: 48%;
  }
  .quick-access--chat-flush {
    width: 48%;
  }
  .nav__reload-btn {
    margin-bottom: auto;
  }
}
.nav__reload-btn {
  width: 100%;
  height: 4.5rem;
  border-radius: 0.3em;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 15%;
}
/*/ ////////////////////////////////////////////////////////////////////
EMOJI TOOLBAR within Navigation Sidebar
/////////////////////////////////////////////////////////////////////*/
/*Dropdown Code for emoji toolbar*/
.emote-dropdown__emoji-icon {
  background-image: url('Assets/lmao.png');
  background-size: cover;
  padding: 1px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  border-color: transparent;
  width: 3rem;
  height: 3rem;
  opacity: 0.4;
  cursor: pointer;
}

.emote-dropdown__emoji-icon:hover {
  opacity: 1;
}

.emote-dropdown__container:hover .emote-dropdown__dropdown-content {
  display: inline-block;
  margin: auto;
  flex: 5%;
  scrollbar-color: #888 rgb(201, 201, 201);
  scrollbar-width: thin;
  /*Scrollbar width is for firefox*/
}

.dark .emote-dropdown__container:hover .emote-dropdown__dropdown-content {
  scrollbar-color: black #282828;
}
.emote-dropdown__container:hover .emote-dropdown__emoji-icon {
  opacity: 1;
}

.emote-dropdown__dropdown-content {
  display: none;
  position: absolute;
  max-width: 15rem;
  height: 4.5rem;
  border: 2px solid black;
  border-radius: 0.3em;
  overflow-y: scroll;
  z-index: 1;
  background-color: lightgray;
}

.dark .emote-dropdown__dropdown-content {
  background-color: #2b2a33;
}
.emote-dropdown__container {
  display: flex;
  flex-flow: column;
  margin-left: 0%;
}
/*CSS Styling to make buttons within the dropdown to look NOICE*/
.emote {
  /*this is a button, see .customEmote for inline emote styling*/
  font-family: monospace;
  font-size: 1.2rem;
  min-width: 2.4rem;
  min-height: 30px;
  padding: 0.2rem;
  margin: 0.2rem;
  border: 1px solid #596988;
  border-radius: 0.3em;
  color: inherit;
  background-color: inherit;
  box-shadow: 1px 4px 10px black;
}
.emote:hover {
  border-color: #343a42;
  cursor: pointer;
}
.emote:active {
  background-color: #343a42;
}

/*////////////////////////////////
		    TABS
////////////////////////////////*/
.settings__section-title {
  font-size: 20;
  text-align: left;
}
.mode__radio-button {
  font-size: 100%;
}

/*/ ///////////////////////////////
SMOOTH SWITCH
////////////////////////////////*/

.switch input {
  /*hide checkbox (html default)*/
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__container {
  display: flex;
  flex-direction: row;
}
.switch {
  /*slider container*/
  position: relative;
  width: 60px;
  height: 34px;
  float: left;
  margin-top: 1%;
  margin-right: 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

.dark input:checked + .slider {
  background-color: #00ddff;
}

.dark input + .slider {
  background-color: #42414d;
}
.dark input + .slider:hover {
  background-color: #52525e;
}
.dark .slider:before {
  background-color: black;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* --- Resource links --- */
.resource-link__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.resource-link {
  padding: 0.6%;
  margin: 0.5%;
}
a.resource-link {
  text-decoration: none;
  min-width: 2rem;
  min-height: 1rem;
  border: 1px solid #343a42;
  border-radius: 6px;
  color: #343a42;
  text-align: center;
}

.dark a.resource-link {
  border: 1px solid #42414d;
  color: inherit;
  background-color: inherit;
}
a.resource-link:hover {
  background-color: #f0f2f4;
  color: inherit;
  transition: 800ms;
}

.dark a.resource-link:hover {
  background-color: #52525e;
}

/*//////////////////////////////*/

/* --- Login Container --- */
.login__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none;
  background-color: inherit;
}

.login-credentials__container {
  display: flex;
  background-color: inherit;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  color: inherit;
  z-index: 1;
}

.login-credentials__title {
  align-self: center;
  color: inherit;
}

.login__credentials-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 70%;
  height: 3rem;
  font-size: 1rem;
  border-style: hidden;
  border-bottom: #42414d solid;
  border-radius: 0.3em;
  color: inherit;
  background-color: inherit;
  margin-top: 3%;
}
.login__credentials-input:focus {
  outline: none;
  background-color: inherit;
}
/*When autofill happens the colors are messed up, the code below fixes it*/
.login__credentials-input:-webkit-autofill {
  color: inherit;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0 0 inherit inset !important;
  box-shadow: inset;
  border-radius: 0.3em;
}

.login__password-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 70%;
  margin-top: 3%;
}

.login__password {
  width: 100%;
}

.login__password-visiblity {
  width: 2%;
  align-self: center;
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  font-size: 4rem;
}

.login__password-visiblity:hover {
  transition: 800ms;
  color: #1da1f2;
}

.login-credentials__submit {
  align-self: center;
  display: block;
  height: 3rem;
  width: 70%;
  font-size: 4rem;
  border-radius: 0.3em;
  background-color: inherit;
  color: inherit;
  margin-top: 3%;
}

.login-credentials__submit:hover {
  transition: 800ms;
  color: #1da1f2;
}

/* --- Log out button --- */
.settings__logout-btn {
  padding: 0.1em;
  width: 30%;
  height: 3rem;
  font-size: 100%;
  border-radius: 0.3em;
  text-align: center;
  display: block;
  margin-bottom: 1%;
  background-color: inherit;
  color: inherit;
}
.settings__logout-btn i {
  font-size: 100%;
}
.settings__logout-btn:active {
  height: 2.75rem;
}
.dark .settings__logout-btn:hover {
  background-color: #52525e;
}
.settings__lichess-login {
  padding: 0.1em;
  width: 30%;
  height: 3rem;
  font-size: 100%;
  border-radius: 0.3em;
  text-align: center;
  margin-bottom: 1%;
  background-color: inherit;
  color: inherit;
}
.dark .settings__lichess-login:hover {
  background-color: #52525e;
}
/*--*/
/*Quick Access is for the chat flush (and later the textbox clear)*/

.quick-access {
  cursor: pointer;
  opacity: 0.5;
  background-color: none;
}
.quick-access--chat-flush {
  width: 100%;
  height: 3rem;
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 2%;
  border-color: inherit;
  border-radius: 0.3em;
  color: inherit;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quick-access:hover {
  opacity: 1;
  transition: 500ms;
}
.cookie-alert__container {
  width: 100%;
  padding: 1%;
  color: white;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  z-index: 1;
  opacity: 1;
  display: flex;
  flex-direction: row;
  transition: 900ms;
}
.cookie-alert__warning {
  min-width: 90%;
  font-size: 1.25rem;
  text-align: center;
  align-self: center;
}
.cookie-alert__close {
  min-width: 10%;
  color: inherit;
  font-weight: bold;
  font-size: 35px;
  cursor: pointer;
  transition: 900ms;
  z-index: 1;
  align-self: center;
}
.cookie-alert__container--hidden {
  width: 97.5%;
  padding: 1%;
  background-color: inherit;
  color: inherit;
  position: fixed;
  bottom: 0;
  z-index: 1;
  border-style: solid;
  border-color: inherit;
  border-width: 1px;
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
  opacity: 0;
  transition: 900ms;
}

.chatline {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border: 2.5px solid;
  border-radius: 00px 10px 10px 10px;
  padding: 1%;
  margin: 10px 0;
  max-width: 47.3%;
  min-height: 1.5rem;
  left: 0.5%;
  background-color: #c6d6e6;
}

.dark .chatline {
  background-color: #2b2a33;
  border-color: #42414d;
}
.chat-message__content {
  font-size: 1.4rem;
}
.chat-msg--me {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border: 2px solid;
  border-radius: 0.3em 0px 0.3em 0.3em;
  padding: 1%;
  margin: 10px 0;
  max-width: 47.3%;
  min-height: 1.5rem;
  left: 49.5%;
}

.chatline::after {
  content: '';
  clear: both;
  display: table;
}

.details {
  font-size: 1.2rem;
  padding-bottom: 1%;
}

.chat__sticker {
  min-height: 90;
  max-height: 200;
  min-width: 30%;
  max-width: 70%;
  border-radius: 0.25em;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(201, 201, 201);
}

.dark ::-webkit-scrollbar-track {
  background: #282828;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.3em;
}

.dark ::-webkit-scrollbar-thumb {
  background: black;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*--*/
/* CSS Code for custom context menu*/
.menu {
  background-color: white;
  width: 300px;
  border-style: solid;
  border-radius: 0.3em;
  padding: 1%;
  display: none;
  position: fixed;
  overflow: auto;
  transition: 50ms;
  z-index: 1;
}
.dark .menu {
  background-color: #2b2a33;
  border-color: #42414d;
}

.menu-item {
  height: 10%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark .menu-item {
  color: inherit;
}
.menu-item:hover {
  cursor: pointer;
  background-color: #f0f2f4;
  transition: 500ms;
}

.dark .menu-item:hover {
  background-color: #42414d;
}
.material-icons {
  align-self: center;
}
.asami-quote__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 10%;
  max-width: 20em;
  align-self: center;
  justify-content: center;
}

.asami-quote {
  flex: 65%;
  align-self: center;
  justify-content: center;
  font-size: 16;
}

.asami-image {
  flex: 35%;
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
