/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
					CHAT - DESKTOP STYLESHEET
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*------------------------------------------------------------------
[Table of Contents]

* Desktop Stylesheet
    + Global Themes, Patterns, & Modes
	+ Default body
    + UI Elements (static)
	+ Chat UI
	+ Tabs
	+ Chat markup
    + Inner Chat Markup
	+ Emoji toolbar

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Palette]

cool grey 8492ae
queen blue 596988
gunmetal 343a42
charcoal 3f4650
pink ff69b4

---brand colours-----
twitter blue #1da1f2
asana peach #FC636B
discord blue #7289da
android green #78C257
-------------------------------------------------------------------*/

/*/////////////////////////////////////////////////////////////////////
					GLOBAL THEMES AND MODES
/////////////////////////////////////////////////////////////////////*/

/* --- GLOBAL CLASSES --- */
.hidden {
  display: none;
}

.pattern__stripes-1 {
  /*opaque version*/ /* background-image: linear-gradient(135deg, #8492ae 12.50%, #343a42 12.50%, #343a42 50%, #8492ae 50%, #8492ae 62.50%, #343a42 62.50%, #343a42 100%); */
  /*transparent version*/
  background-image: linear-gradient(
    135deg,
    #8492ae 12.5%,
    #343a4200 12.5%,
    #343a4200 50%,
    #8492ae 50%,
    #8492ae 62.5%,
    #343a4200 62.5%,
    #343a4200 100%
  );
  /*black version*/
  background-image: linear-gradient(
    135deg,
    #000000 12.5%,
    #343a4200 12.5%,
    #343a4200 50%,
    #000000 50%,
    #000000 62.5%,
    #343a4200 62.5%,
    #343a4200 100%
  );
  background-size: 5.66px 5.66px;
}
.dark .pattern__stripes-1 {
  background-image: linear-gradient(
    135deg,
    #8492ae 12.5%,
    #343a42 12.5%,
    #343a42 50%,
    #8492ae 50%,
    #8492ae 62.5%,
    #343a42 62.5%,
    #343a42 100%
  );
}
body .pattern__stripes-1 {
  background-image: linear-gradient(
    135deg,
    #8492ae 12.5%,
    #ffffff 12.5%,
    #ffffff 50%,
    #8492ae 50%,
    #8492ae 62.5%,
    #ffffff 62.5%,
    #ffffff 100%
  );
}

.pattern__stripes-2 {
  background-image: linear-gradient(
    135deg,
    #fafafa 12.5%,
    #d3d3d3 12.5%,
    #d3d3d3 50%,
    #fafafa 50%,
    #fafafa 62.5%,
    #d3d3d3 62.5%,
    #d3d3d3 100%
  );
  background-size: 5.66px 5.66px;
}
.dark .pattern__stripes-2 {
  background-image: linear-gradient(
    135deg,
    #343a42 12.5%,
    #8492ae 12.5%,
    #8492ae 50%,
    #343a42 50%,
    #343a42 62.5%,
    #8492ae 62.5%,
    #8492ae 100%
  );
  background-size: 5.66px 5.66px;
}

/* --- MODES --- */

body {
  background-color: white;
  color: #343a42;
  overflow: hidden;
}

.dark {
  background-color: #343a42;
  color: #8492ae;
}

.mo {
  background-color: #ff69b4;
  color: black;
}

/* .active {
		background-color:#c2f5ff;
		}
	.dark .active {
		background-color:#c2f5ff;
		}
	.mo .active {
		background-color:#ffbadd;
		} */
/*/////////////////////////////////////////////////////////////////////
						DEFAULT BODY
/////////////////////////////////////////////////////////////////////*/

textarea {
  font-size: 100%;
}
a {
  color: Gray;
}
h1 {
  text-align: center;
  font-size: 75;
}

/*/////////////////////////////////////////////////////////////////////
				USER INTERFACE STATIC ELEMENTS
/////////////////////////////////////////////////////////////////////*/
#mainpg {
  width: 70%;
  margin-left: 12%;
  margin-bottom: 100vh;
}
#container {
  width: auto;
}

/* --- UGCW title --- */
body #titleMNCW {
  display: block;
  color: white;
  font-size: 56px;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px 4px 4px #282828;
}

.dark #titleMNCW {
  display: block;
  color: #8492ae;
  font-size: 56px;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px 4px 4px #282828;
}

.mo #titleMNCW {
  display: block;
  color: #ff69b4;
  font-size: 56px;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px 4px 4px #282828;
}

#quotes-div {
  display: block;
}

#reload {
  width: 9rem;
  height: 4.5rem;
  display: inline;
  float: right;
  background-color: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.tab__button {
  /* -webkit-text-shadow: 2px #343a42; */
  text-shadow: 2px 2px 5px black;
  font-size: 20;
  font-weight: 30px;
  height: 75;
  width: 25%;
}

/*////////////////////////////////
		    CHAT UI
////////////////////////////////*/
.log_container {
  border: 1px solid gray;
  overflow-y: scroll;
  font-size: 1.2em;
  max-height: 50vh;
}

/* --- Chatlog --- */
.log_container {
  border: 1px solid gray;
  overflow-y: scroll;
  font-size: 1.2em;
  max-height: 50vh;
}

#chatSubmit {
  font-size: 20;
  width: 15%;
  float: right;
  cursor: pointer;
}

#chatTextbox {
  height: 29;
  width: 84.9%;
}

/*////////////////////////////////
		    TABS
////////////////////////////////*/

/* --- tabs --- */

.settings p {
  font-size: 24px;
  vertical-align: center;
  text-align: left;
  margin-top: 15px;
}

.mode__radio-button {
  font-size: 100%;
}

.dark input[type="button"] {
  color: #596988;
}

/*////////////////////////////////
		SMOOTH SWITCH
////////////////////////////////*/

.switch input {
  /*hide checkbox (html default)*/
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  /*slider container*/
  position: relative;
  width: 60px;
  height: 34px;
  float: left;
  margin-right: 30px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

.dark input:checked + .slider {
  background-color: #4caf50;
}

.mo input:checked + .slider {
  background-color: blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* --- Resource links --- */
/*replace all .lynk with resource-link*/

.resource-link {
  text-decoration: none;
}
#SectionsContentTop {
  display: block;
}

a.resource-link:hover {
  background-color: gainsboro;
  color: #343a42;
}
.dark a.resource-link:hover {
  background-color: #8492ae;
  color: black;
}
.mo a.resource-link:hover {
  background-color: #ffbadd;
  color: black;
}

a.resource-link {
  padding: 5px;
  border: 1px solid #343a42;
  border-radius: 6px;
  color: #343a42;
}
.dark a.resource-link {
  padding: 5px;
  border: 1px solid #8492ae;
  border-radius: 6px;
  color: #8492ae;
}
.mo a.resource-link {
  padding: 5px;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
}

/*//////////////////////////////*/

/* --- loginContainer --- */
#loginContainer {
  text-align: center;
  margin: auto;
  width: 27%;
  margin-top: 5%;
  border: 2px solid #d1d1d1;
  border-radius: 30px;
  background-color: White;
  padding-bottom: 15px;
}
.loginInput {
  font-size: 60%;
  width: 50%;
  color: SlateGray;
  border: 2px solid #d1d1d1;
  border-radius: 5px;
  padding: 0%;
}
#loginSubmit {
  font-size: 120%;
  margin-left: 67%;
  font-family: verdana;
  color: DarkGray;
  background-color: GhostWhite;
  border: 2px solid #d1d1d1;
  border-radius: 5px;
  padding: 0%;
}

/* --- Log out button --- */
#logout {
  padding: 10px;
  width: 50%;
  font-size: 95%;
  margin-top: 10px;
}

/*/////////////////////////////////////////////////////////////////////
					CHAT MARKUP / FORMATTING
/////////////////////////////////////////////////////////////////////*/

/* --- Default HTML tags --- */
.log_container h1 {
  text-align: left;
}

/* --- Custom markup --- */
.hashtag {
  color: #1da1f2;
  font-weight: 900;
} /*(dark mode inherits default)*/
.mo .hashtag {
  color: #0000ff;
  font-weight: 900;
}

a {
  color: Steelblue;
}
.dark a {
  color: Steelblue;
}
.mo a {
  color: purple;
}

.customEmoji {
  display: inline;
  margin-bottom: -4px;
  width: 18px;
  height: 18px;
}

/*/////////////////////////////////////////////////////////////////////
						EMOJI TOOLBAR
/////////////////////////////////////////////////////////////////////*/
/*Flex container code, for all dropdowns and divs*/
.flex-container {
  display: flex;
}
.flex-container > div {
  margin: 5px;
}
/*Dropdown Code for emoji toolbar*/

.emote-dropdown__emoji-icon {
  /* previously "dropbtn" */
  color: black;
  background-image: url("Assets/lmao.png");
  background-size: cover;
  padding: 1px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  text-align: center;
  width: 3rem;
  height: 3rem;
  opacity: 10%;
  cursor: pointer; /*I know that this should be in an overarching class, too lazy to change rn*/
}
/*remove that annoying white space around dropbtn*/
body .emote-dropdown__emoji-icon {
  background-color: black;
}
.dark .emote-dropdown__emoji-icon {
  background-color: #596988;
}
.mo .emote-dropdown__emoji-icon {
  background-color: black;
}

.emote-dropdown__emoji-icon:hover {
  opacity: 100%;
}

.dropdown:hover .emote-dropdown__dropdown-content {
  display: inline-block;
  margin: auto;
}

/*emotes buttons*/
.emote-dropdown__sticker-icon {
  color: black;
  background-image: url("Assets/dogeputinMedium.png");
  background-size: cover;
  padding: 1px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  text-align: center;
  width: 3rem;
  height: 3rem;
  opacity: 10%;
  cursor: pointer; /*I know that this should be in an overarching class, too lazy to change rn*/
}
.emote-dropdown__sticker-icon:hover {
  opacity: 100%;
}

.emote-dropdown__dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  max-width: 300px;
  height: 4rem;
  border: 2px solid;
  border-radius: 7px;
  overflow-y: scroll;
  z-index: 1;
}
/*background-color of the dropdown/*/
body .emote-dropdown__dropdown-content {
  background-color: lightgrey;
}
.dark .emote-dropdown__dropdown-content {
  background-color: #59698870;
}
.mo .emote-dropdown__dropdown-content {
  background-color: #ffbadd;
}

/*--*/
/*CSS Styling to make buttons within the dropdown to look NOICE*/
.emote {
  /*this is a button, see .customEmote for inline emote styling*/
  font-family: monospace;
  min-width: 30px;
  min-height: 30px;
  padding: 2.5px 2px;
  border: 1px solid #596988;
  background-color: transparent;
  border-radius: 7px;
  color: black;
  box-shadow: 1px 4px 10px black;
}
.emote:hover {
  border: 1px solid #343a42;
  color: black;
  cursor: pointer;
}
.emote:active {
  background-color: #343a42;
}

/*--*/
/*CSS Styling to make Quick Access buttons look NOICE (quick access includes chat flush and chat clear)*/
.quick-access {
  min-width: 40px;
  min-height: 43px;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  padding: 6px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
/* CSS Styling to make the buttons in the toolbar be side by side and NOICE*/
.emote-dropdown__button-group button {
  display: flex;
  flex-wrap: wrap;
  float: left;
}
/* border: 1.5px solid black;
color: black;
padding: 10px 10px;
cursor: pointer;
float: left; */
