/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
					CHAT - DESKTOP STYLESHEET
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*------------------------------------------------------------------
[Table of Contents]

* Desktop Stylesheet
    + Global Themes & Modes
	+ Default body
    + UI Elements
    + Inner Chat Markup

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Palette]

cool grey 8492ae
queen blue 596988
gunmetal 343a42
charcoal 3f4650
pink ff69b4

twitter blue #1da1f2
-------------------------------------------------------------------*/

/*/////////////////////////////////////////////////////////////////////
					GLOBAL THEMES AND MODES
/////////////////////////////////////////////////////////////////////*/

/* --- GLOBAL CLASSES --- */
.hidden {display:none;}

.background-image__pattern-1 {
	background-image: linear-gradient(135deg, #8492ae 12.50%, #343a42 12.50%, #343a42 50%, #8492ae 50%, #8492ae 62.50%, #343a42 62.50%, #343a42 100%);
	background-size: 5.66px 5.66px;
}

.background-image__pattern-2 {
	background-image: linear-gradient(135deg, #343a42 12.50%, #8492ae 12.50%, #8492ae 50%, #343a42 50%, #343a42 62.50%, #8492ae 62.50%, #8492ae 100%);
	background-size: 5.66px 5.66px;
}

/* --- MODES --- */

	body {
		background-color: white;
		color: #343a42;
		overflow:hidden;
	}

	.dark {
	background-color: #343a42;
	color: #8492ae;
	}

	.mo {
	background-color: #ff69b4;
	color:black;
	}
/*/////////////////////////////////////////////////////////////////////
						DEFAULT BODY
/////////////////////////////////////////////////////////////////////*/

textarea {font-size:100%;}
a {color:Gray;}
h1 {text-align:center;font-size:75;}

/*/////////////////////////////////////////////////////////////////////
				USER INTERFACE STATIC ELEMENTS
/////////////////////////////////////////////////////////////////////*/
#mainpg {width:70%; margin-left:12%;margin-bottom:100vh;}
#container {width:auto;}

/* --- UGCW title --- */
body #titleMNCW {
	display: block;
	color: white;
	font-size: 56px;
	-webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}

.dark #titleMNCW {
	display: block;
	color: #8492ae;
	font-size: 56px;
	-webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}

.mo #titleMNCW {
	display: block;
	color: #ff69b4;
	font-size: 56px;
	-webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}

#quotesDiv {
	display:block;
}

#controlBox {
	position:absolute;
	bottom:0;
	height:auto;
	width:auto;
}

#reload {
	width:9rem;
	height:4.5rem;
	display:inline;
	float:right;
	background-color:auto;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	}
/*////////////////////////////////
		    CHAT UI
////////////////////////////////*/
.log_container {
	border: 1px solid gray;
	overflow-y:scroll;
	font-size:1.2em;
	max-height:50vh;
	}

/* --- Chatlog --- */
.log_container {
	border: 1px solid gray;
	overflow-y:scroll;
	font-size:1.2em;
	max-height:50vh;
	}

#submit {
	font-size:20;
	width:15%;
	float:right;
	}

#textbox{
	height:29;
	width:84.9%
	}

/*////////////////////////////////
		    TABS
////////////////////////////////*/

/* --- tabs --- */
.active {
	background-color:#c2f5ff;
	}
.dark .active {
	background-color:#c2f5ff;
	}
.mo .active {
	background-color:#ffbadd;
	}

.settings p {
	font-size:24px;
	vertical-align:center;
	text-align:left;
	margin-top:15px;
	}

.radioButton {
	font-size:100%;
	}

.dark input[type=button] {
	color:#596988;
	}

/*////////////////////////////////
		SMOOTH SWITCH
////////////////////////////////*/

.switch input { /*hide checkbox (html default)*/
  opacity: 0;
  width: 0;
  height: 0;
}

.switch { /*slider container*/
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:left;
  margin-right:30px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

.dark input:checked + .slider {
  background-color: #4CAF50;
}

.mo input:checked + .slider {
  background-color: blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* --- Resource links --- */
/*replace all .lynk with resource__link*/

.resource__link {text-decoration:none;}
#SectionsContentTop {display:block;}

a.resource__link:hover {background-color:gainsboro;color:#343a42;}
.dark a.resource__link:hover {background-color:#8492ae;color:black;}
.mo a.resource__link:hover {background-color:#ffbadd;color:black;}

a.resource__link {padding:5px;border:1px solid #343a42;border-radius:6px;color:#343a42;}
.dark a.resource__link {padding:5px;border:1px solid #8492ae;border-radius:6px;color:#8492ae;}
.mo a.resource__link {padding:5px;border:1px solid black;border-radius:6px;color:black;}

/*//////////////////////////////*/

/* --- Login --- */
#login {text-align:center;margin: auto;width:27%;margin-top:5%;border:2px solid #d1d1d1; border-radius: 30px; background-color:White;padding-bottom:15px;}
.loginInput {font-size: 60%; width: 50%; color:SlateGray;border: 2px solid #d1d1d1;border-radius: 5px; padding:0%;}
#loginSubmit {font-size:120%;margin-left:67%;font-family:verdana;color:DarkGray;background-color:GhostWhite;border: 2px solid #d1d1d1; border-radius: 5px; padding:0%;}

/* --- Log out button --- */
#logout {padding:10px; width: 50%; font-size: 95%;margin-top:10px;}

/*/////////////////////////////////////////////////////////////////////
					CHAT MARKUP / FORMATTING
/////////////////////////////////////////////////////////////////////*/

/* --- Default HTML tags --- */
.log_container h1 {text-align:left;}

/* --- Custom markup --- */
.hashtag {
	color: #1da1f2;
	font-weight:900;
	} /*(dark mode inherits default)*/
.mo .hashtag {color:#0000ff;font-weight:900;}

a {color:Steelblue;}
.dark a {color: Steelblue;}
.mo a {color:purple;}

/*/////////////////////////////////////////////////////////////////////
						EMOJI TOOLBAR
/////////////////////////////////////////////////////////////////////*/
/*Flex container code, for all dropdowns and divs*/
.flex-container {
  display: flex;
}
.flex-container > div {
  margin: 5px;
}
/*Dropdown Code for emoji toolbar*/

.emote-dropdown__emoji-icon {
/* previously "dropbtn" */
color: black;
background-image:url("Assets/lmao.png");
background-size:cover;
padding: 1px;
font-size: 16px;
border-style: solid;
border-width: 1px;
border-radius: 25px;
text-align: center;
width:3rem;
height:3rem;
opacity:10%;
}
/*remove that annoying white space around dropbtn*/
body ..emote-dropdown__emoji-icon {background-color:black;}
.dark ..emote-dropdown__emoji-icon{background-color:#596988;}
.mo ..emote-dropdown__emoji-icon{background-color:black;}

.emote-dropdown__emoji-icon:hover {
  opacity:100%;
}

.dropdown:hover .emote-dropdown__dropdown-content {
display: inline-block;
margin: auto;
}

/*emotes*/
.emote-dropdown__sticker-icon {
  color: black;
  background-image: url("Assets/dogeputinMedium.png");
  background-size: cover;
  padding: 1px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  text-align: center;
  width: 3rem;
  height: 3rem;
  opacity: 10%;
}
.emote-dropdown__sticker-icon:hover {
  opacity: 100%;
}

.emote-dropdown__dropdown-content {
display: none;
position: absolute;
min-width: 200px;
max-width: 300px;
height:4rem;
border-style: solid;
border-width: 4px;
border-radius: 7px;
overflow-y: scroll;
z-index: 1;
}
/*background-color of the dropdown/*/
body .emote-dropdown__dropdown-content{background-color:lightgrey;}
.dark .emote-dropdown__dropdown-content{background-color:#596988;}
.mo .emote-dropdown__dropdown-content{background-color:black;}


/*--*/
/*CSS Styling to make buttons within the dropdown to look NOICE*/
.emote {
font-family:monospace;
min-width: 30px;
min-height:30px;
padding: 2.5px 2px;
border: 1px solid #596988;
<<<<<<< HEAD
=======
background-color: transparent;
>>>>>>> BEM
border-radius: 7px;
color: black;
}
.emote:hover {
/* border:1px solid #343a42; */
}
.emote:active {
	background-color:#343a42;
}

<<<<<<< HEAD
#doge1 {background:url("Assets/dogeputin.png");background-size: cover;  background-position: center;}
#doge2 {background: url("Assets/dogeputinHD.png");}
#lolol {background: url("Assets/lmao.png/");}
#hmmmm {background: url("Assets/thonk.png/");}
#wgat {background: url("Assets/wat.ico/");}
#oof {backgroun\d: url("sets/bigoof.png/");}
#tesla {background: url("Assets/elonloltransparent/");}
#YEEEE {background: url("Assets/yee.jpg/");}
#doge3 {background: url("Assets/dogedance.gif/");}
/* #hyper {background-image:"Assets//"}
#read2 {background-image:"Assets//"}
#bruhh {background-image:"Assets//"}
#egg {background-image:"Assets//"}
#ummmm {background-image:"Assets//"}
#shrug {background-image:"Assets//"} */

=======
>>>>>>> BEM
/*--*/
/*CSS Styling to make Quick Access buttons look NOICE (quick access includes chat flush and chat clear)*/
.quick-access {
min-width: 40px;
min-height: 43px;
border-style: solid;
border-width: 1px;
border-radius: 7px;
padding: 6px;
text-align: center;
display: inline-block;
font-size: 16px;
cursor: pointer;
}
/* CSS Styling to make the buttons in the toolbar be side by side and NOICE*/
.emote-dropdown__button-group button {
	display: flex;
	flex-wrap: wrap;
	float:left;
}
/* border: 1.5px solid black;
color: black;
padding: 10px 10px;
cursor: pointer;
float: left; */
}
