#mainpg {width:70%; margin-left:12%;}
#container {width:auto; overflow:hidden;}

/* Modes */

body {background-color: white;color: #343a42;overflow:hidden;}

.dark {background-color: #343a42;color: #8492ae;}

.mo {background-color: #ff69b4;color:black;}
.radioButton {font-size:100%;}

/* login */

#login {text-align:center;margin: auto;width:27%;margin-top:5%;border:2px solid #d1d1d1; border-radius: 30px; background-color:White;padding-bottom:15px;}
.loginInput {font-size: 60%; width: 50%; color:SlateGray;border: 2px solid #d1d1d1;border-radius: 5px; padding:0%;}
#loginSubmit {font-size:120%;margin-left:67%;font-family:verdana;color:DarkGray;background-color:GhostWhite;border: 2px solid #d1d1d1; border-radius: 5px; padding:0%;}

#logout {padding:0%; width: auto; font-size: 95%;}
/* misc */

textarea {font-size:120%;}
a {color:Gray;}
h1 {text-align:center;font-size:75;}
#titleMNCW {display:block;}
.changelogLink {font-size:24;text-align:center;display:block;}
.borderlineInsanity {border:1px solid grey;}
#controlBox {position:absolute; bottom:0;height:auto;width:auto;}

/* colour modes */

#titleMNCW {
	display: block;
	color: white;
	font-size: 56px;
	-webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}

.dark #titleMNCW {
	display: block;
	color: #8492ae;
	font-size: 56px;
	-webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}

.mo #titleMNCW {
	display: block;
	color: #ff69b4;
	font-size: 56px;
	-webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}

.mention {color: red;}

.dark input[type=button]  {color:#596988;}

/* Tabs */

/*.tab {overflow:hidden;}*/

.active {background-color:#c2f5ff; /*Chartreuse;*/}
.mo .active {background-color:#ffbadd};

.tablinks {font-size:20;height:75;width:25%;}

#reload {width:11%;height: 7.5%;display:inline;float:right;background-color:auto;}
.reloadDown {background-color:grey;}

#memberList {width:15%; float:right;height:50%; text-align:center; border: 1px solid gray; font-size:100%}

/* Online */

.Online {color:MediumSeaGreen;}

.Idle {color:Goldenrod;}

.Offline {color:Silver;}

/*resource links*/

.lynk {text-decoration:none;}

a.lynk:hover {padding:5px;border:1px solid #343a42;border-radius:6px;background-color:gainsboro;color:#343a42;}
.dark a.lynk:hover {padding:5px;border:1px solid black;border-radius:6px;background-color:#8492ae;color:black;}
.mo a.lynk:hover {padding:5px;border:1px solid black;border-radius:6px;background-color:#ffbadd;color:black;}

a.lynk {padding:5px;border:1px solid #343a42;border-radius:6px;color:#343a42;}
.dark a.lynk {padding:5px;border:1px solid #8492ae;border-radius:6px;color:#8492ae;}
.mo a.lynk {padding:5px;border:1px solid black;border-radius:6px;color:black;}

/*emoji*/
.emojiDiv {padding:4px;background-color:grey}

/* palettes

dark mode: 
cool grey 8492ae
queen blue 596988
gunmetal 343a42
charcoal 3f4650

mohammad

ff69b4
